<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.akps_capstone_project">
<uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="App name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AKPS_Capstone_Project">
        <activity android:name=".PaymentActivity"></activity>
        <activity android:name=".BuyGameActivity" />
        <activity
            android:name=".ResultActivity"
            android:exported="true" />
        <activity
            android:name=".QuestionsActivity"
            android:exported="true" />
        <activity
            android:name=".QuizActivity"
            android:exported="true" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".VIPActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>